/* shared styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
/* font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* header styling */
.header{
    background-color:#ffb6c11e;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.page-title{
    text-transform: capitalize;
    font-size: 1.5em;
}
li{
    list-style: none;
}
li a{
    color: black;
    margin-right: 30px;
    text-decoration: none;
    font-weight: 700px;
}