/* shared styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
/* font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* button primary */
.button-primary{
    color: beige;
    font-size: 1em;
    font-weight: 700;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: capitalize;
}
/* header styling */
.header{
    background-color:#ffb6c11e;
}
/* nav styling start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}
.page-title{
    text-transform: capitalize;
    font-size: 1.5em;
}
li{
    list-style: none;
}
li a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700px;
}
#login-anchor{
    margin-right: 0px;
}
/* nav styling end */
/* header-desc-container styling start */
.header-desc-container{
    padding: 20px 50px;
    margin: 20px 150px;
    text-align: center;
}
.title{
    font-size: 2.5em;
    padding: 10px 50px;
}
.heading-desc{
    padding: 20px 50px;
    margin: 0px 30px;
}
/* header-desc-container styling end */
/* image-banner styling start */
.banner{
    padding: 0px 150px 20px;
}
.banner img{
    width: 100%;
    height: auto;
}
/* image-banner styling end */
/* responsive small */
@media screen and (max-width:576px) {
    /* nav responsive */
    nav{
        padding: 20px;
        flex-direction: column-reverse;
        gap: 20px;
        font-size: .8em;
    }
    li{
        justify-content: center;
    }
    /* header-desc-container responsive */
    .header-desc-container{
        margin: 0px 10px;
        padding: 0px;
    }
    .title{
        font-size: 1.5em;
        padding: 0px 10px;
    }
    .heading-desc{
        padding: 10px 0px;
        margin: 0px 10px;
        font-size: .8em;
    } 
    .header button{
        font-size: .8em;
        padding: 5px 10px;
    }
    /* banner image responsive */
    .banner{
        padding: 20px;
    }
    .banner img{
        width: 100%;
        height: auto;
    }
}